@page "/"
@using Personal.Client.Pages.Person.Components
@using Personal.Client.Services.Implements
@using Personal.Shared.Dtos.Persons
@inject HttpClient Http
@inject PersonService personService
<PageTitle>داشبورد</PageTitle>
<FormModal @ref=formModal OnPersonCreated="OnPersonGet"/>

<div class="flex-column h-25 w-100 mb-2 bg-gray rounded px-2">
    <h3>جستجو</h3>
    <div class="d-flex flex-wrap">
        <div class="m-2">
            <label>نام</label>
            <input class="form-control" type="text" name="name" value="" />
        </div>
        <div class="m-2">
            <label>نام خانوادگی</label>
            <input class="form-control " type="text" name="name" value="" />
        </div>
        <div class="m-2">
            <label>کد ملی</label>
            <input class="form-control " type="text" name="name" value="" />
        </div>
        
        <div class="m-2">
            <label>آخرین مدرک تحصیلی</label>
            <input class="form-control " type="text" name="name" value="" />
        </div>

        <div class="m-2">
            <label>تاریخ تولد</label>
            <input class="form-control " type="date" name="name" value="" />
        </div>
        <div class=" align-content-end m-2">
            <button class="btn btn-primary px-xxl-5">جستجو</button>
        </div>
    </div>
</div>
<hr />
<button class="btn btn-success" @onclick=OpenAddModal> افزودن</button>

@if (personal == null)
{
    <p><em>درحال بارگذاری...</em></p>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>نام</th>
                <th>نام خانوادگی</th>
                <th>کد ملی</th>
                <th>آخرین مدرک تحصیلی</th>
                <th>تاریخ تولد</th>
                <th>ویرایش</th>
                <th>حذف</th>

            </tr>
        </thead>
        <tbody>
            @foreach (var person in personal)
            {
                <tr>
                    <td>@person.Name</td>
                    <td>@person.Family</td>
                    <td>@person.NationalCode</td>
                    <td>@person.Degree?.Title</td>
                    <td>1377/03/01</td>
                    <td><button class="btn btn-warning ">ویرایش</button></td>
                    <td><button class="btn btn-danger ">حذف</button></td>
                </tr>
            }
        </tbody>
    </table>
}

@code {
    private PersonDtoSelect[]? personal;
    FormModal formModal; 
    protected override async Task OnInitializedAsync()
    {
        personal = await personService.GetAll();
    }

    async Task OpenAddModal()
    {
        await formModal.OpenModal();
    }

    async Task OnPersonGet(PersonDto person)
    {
        await personService.Add(person);
    }
}