@page "/"
@using Personal.Client.Pages.Person.Components

<PageTitle>داشبورد</PageTitle>
<FormModal @ref=formModal OnPersonCreated="OnPersonCreated" OnPersonUpdated="OnPersonUpdated" />

<SearchComponent @ref=searchComponent OnSearchResult="OnSearchResult" />
<hr />
<button class="btn btn-success" @onclick=OpenAddModal> افزودن</button>
<hr />

@if (personal == null)
{
    <SpinnerComponent/>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>نام</th>
                <th>نام خانوادگی</th>
                <th>کد ملی</th>
                <th>آخرین مدرک تحصیلی</th>
                <th>ویرایش</th>
                <th>حذف</th>

            </tr>
        </thead>
        <tbody>
            @foreach (var person in personal)
            {
                <tr>
                    <td>@person.Name</td>
                    <td>@person.Family</td>
                    <td>@person.NationalCode</td>
                    <td>@person.Degree?.Title</td>
                    <td><button class="btn btn-warning" @onclick=@(async () =>{await OpenEditModal(person);})>ویرایش</button></td>
                    <td><button class="btn btn-danger" @onclick=@(async () =>{await Delete(person.Id);})>حذف</button></td>
                </tr>
            }
        </tbody>
    </table>
}

